package ${package.Entity};

    #foreach($pkg in ${table.importPackages})
        #if("${pkg}" == "java.math.BigDecimal")
import ${pkg};
            #break
        #end
    #end
    #foreach($field in ${table.fields})
        #if("$!field.propertyName" == "deleted")
import com.baomidou.mybatisplus.annotation.TableLogic;
            #break
        #end
    #end
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import java.time.LocalDateTime;

/**
 * @ $!{table.comment} 实体
 * @ author ${author}
 * @ date ${date}
 **/
#if(${entityLombokModel})
@Data
@Accessors(chain = true)
    #if(${superEntityClass})
@EqualsAndHashCode(callSuper = true)
    #else
@EqualsAndHashCode(callSuper = false)
    #end
#end
#if(${swagger2})
@ApiModel(value="${entity}", description="$!{table.comment}")
#end
@TableName("${table.name}")
public class ${entity} extends Model<${entity}>{
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
    #if("$!field.propertyName" == "id")

    @TableId(value = "id")
    #end
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
    #end
    #if("$!field.comment" != "")
        #set($comment=${field.comment})
        #if(${swagger2})
    @ApiModelProperty(value = "$!comment")
        #else
    /**
     * $!comment
     */
        #end
    #end
    #if("$!field.propertyName" == "deleted")
    @TableLogic
    #else
    @TableField("${field.Name}")
    #end
    private ${field.propertyType} ${field.propertyName};

#end
## ----------  END 字段循环遍历  ----------
}

