package com.rice.wx.entity.param;

import com.rice.wx.common.BaseParam;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import java.time.LocalDateTime;

/**
 * @ $!{table.comment} 查询参数
 * @ author ${author}
 * @ date ${date}
 **/
#if(${entityLombokModel})
@Data
#if(${superEntityClass})
@EqualsAndHashCode(callSuper = true)
#else
@EqualsAndHashCode(callSuper = false)
#end
@Accessors(chain = true)
#end
#if(${swagger2})
@ApiModel(value="${entity}Param", description="$!{table.comment}")
#end
public class ${entity}Param extends BaseParam {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if("$!field.propertyName" != "id" && "$!field.propertyName" != "createTime" && "$!field.propertyName" != "createUser" && "$!field.propertyName" != "updateTime" && "$!field.propertyName" != "updateUser" && "$!field.propertyName" != "deleted" && "$!field.propertyName" != "epsId")
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if("$!field.comment" != "")

#set($comment=${field.comment})
###if($field.customMap.get("EMPTY")==0)
###if($field.propertyType == "String")
##    @NotBlank("$!{comment}不能为空}")
###else
##    @NotNull("$!{comment}不能为空}")
###end
###end
#if(${swagger2})
    @ApiModelProperty(value = "$!comment")
#else
    /**
     * $!comment
     */
#end
#end
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------

}